@media (max-width: 1024px) {
  .container {
    margin-top: 50px;
  }

  .hero {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .text-container {
    justify-content: center;
    text-align: center;
  }

  .hero-btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 590px) {
  .navbar-link {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}
