.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  border-radius: 30px;
  background-color: #e1e0dc;
  padding: 80px;
}

.contact-wrapper h1 {
  color: #292c32;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  max-width: 313px;
}

.contact-wrapper button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 25px;
  border-radius: 6px;
}
