.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.text-container {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.title {
  font-size: 48px;
  font-family: "Source Serif 4";
  line-height: 57.6px;
  font-weight: 400;
}

.img {
  width: 100%;
}

.paragraph {
  display: flex;
  justify-content: center;
  background-color: rgba(244, 243, 240, 1);
  width: 800px;
  height: 259px;
  font-family: "Source Serif 4";
  font-size: 28px;
  color: #000;
}

.btn-hero {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 25px;
  border-radius: 6px;
  width: 125px;
  height: 58px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
