:root {
    --primary-color: rgba(58, 95, 86, 1);
  }
  
  /* reset styles */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container{
  max-width: 1168px;
  margin: 0 auto;

}

  button {
    border: none;
  }
  
  body {
    background-color: rgba(244, 243, 240, 1);
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
  }
  


  